.app_wrap{
    display: flex;
    justify-content: center;
    align-content: cen;
    background-color: aquamarine;
    height: 100vh;
}

 .app_wrap .app_item{
    flex-basis: 20%;
    padding: 20px;
}

/* 전역선택자 - :global을 달아주면 바로 사용 가능 */
:global .input_control {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: red;
}